<style>
body{
	background-image: url("http://411hotspotstv.com/images/slides/New-York-City.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}
h1, h2{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: Black;
}
</style>
<body>
    <h1>uRanQ</h1>
	  <h2>Building credibility on the streets of the web</h2>
</body>