<style>
body{
	background-image: url("http://411hotspotstv.com/images/slides/New-York-City.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}
h1, h2{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: Black;
}
</style>
<body>
	<br><br>
<<<<<<< HEAD
	<h1>uRanQ</h1>
	<h2>The technology information hub</h2>
=======
	<h1>uranq: your voice matters</h1>
	<h2>The latest music - at your fingertips</h2>
>>>>>>> b0472c627346a9b6d3784c60ed99a83f1e3eb690
</body>