<style>
/* body{
	background-image: url("http://411hotspotstv.com/images/slides/New-York-City.jpg");
	background-size: cover;
    background-repeat: no-repeat;
} */
h1, h2{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: Black;
}
</style>
<body>
  <div class="jumbotron">
  <div class="container">
    <h1>uRanQ</h1>
	  <h2>The technology information hub</h2>
  </div>
</div>
	<br><br>
	
</body>