<style>
.song {
clear:both;
margin-bottom:18px;
padding:8px;
}

.song-active {
background-color:#FCE4E4;
}

.song-list-title {
margin-bottom:4px;
}

.song-list-title a {
font-weight:500;
font-size:20px;
line-height:30px;
margin-bottom:12px;
text-decoration:none;
color:#3a3a3a;
}

.song-mini-pause {
font-size:14px;
vertical-align:2px;
padding-left:3px;
padding-right:2px;
}

.song-submitter {
display:inline-block;
font-size:16px;
line-height:16px;
}
.song-submitter-avatar {
width:32px;
border-radius:32px;
display:inline-block;
vertical-align:bottom;
}

.song-submitter-name {
display:inline-block;
margin-left:0!important;
}

.song-comments-label {
display:inline-block;
margin-left:4px;
}

.song-metainfo a {
text-decoration:none;
margin-left:8px;
color:#666;
}
.upvote-container {
float:left;
width:50px;
text-align:center;
margin-right:12px;
}

.upvote-container a.favorite-trigger {
margin-top:20px;
text-decoration:none;
font-size:12px;
}

.upvote-container a.favorite-trigger i {
font-size:32px;
}

.arrow-up {
width:0;
height:0;
border-left:18px solid transparent;
border-right:18px solid transparent;
border-bottom:18px solid #4f535e;
margin:5px 0 9px 7px;
}

.arrow-up.clicked {
border-bottom:18px solid #c23c45;
}

.arrow-up:hover {
border-bottom:18px solid #f3324a;
cursor:pointer;
}

.vote-count {
font-size:20px;
margin-bottom:20px;
}
</style>


<body>

<div class='song'>
	<div class='upvote-container'>
		<div class='js-arrow-up arrow-up ' data-submission-id='5791'></div>

		<p class='vote-count' data-count-id='5791'>
		2
		</p>
		</div>
			<div class='song-details-container'>
				<h3 class='song-list-title song-title-link'>
				<a class="js-get-player-link js-submission-link link-hide-mobile" data-href="https://soundcloud.com/piercefulton/when-we-were-young-pierce-fulton-remix" data-remote="true" data-submission-id="5791" data-user-favorited="false" data-user-upvoted="false" href="https://soundcloud.com/piercefulton/when-we-were-young-pierce-fulton-remix"><i class='fa fa-play-circle js-mini-song-control'></i>
				Dillon Francis + Sultan &amp; Ned Shepard - When We Were Young (Pierce Fulton Remix)
				</a>
				</h3>
				<div class='song-metainfo'>
				<div class='song-submitter'>
				<a class="song-submitter-name" href="/user/ericaEDM"><img alt="ericaEDM" class="user-avatar-thumb" src="http://res.cloudinary.com/dhkz9zvs5/image/upload/c_fill,h_20,w_20/r_max/v1409431681/cgkr6guxxh4ojiwhstyj.png" />
				ericaEDM
				</a></div>
				<div class='song-actions'>
				<a class="js-favorite-trigger favorite-trigger" data-submission-id="5791" href="/favorites"><i class="fa fa-plus"></i>
				<span>Add to Playlist</span>
				</a>
			</div>
		</div>
	</div>
</div>

</body>