<style>
body{
	background-image: url(/assets/background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
h1, h2{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: White;
}
</style>
<body>
	<h1>uranq: your voice matters</h1>
	<h2>The latest music - at yout fingertips</h2>
</body>