<h2> Uranq! </h2>
<%= link_to "Add a link", new_link_path %>

<ul>
  <% @links.each do |link| %>
    <li><%= link_to link.title, link.url, :target => '_blank' %></li>
    <%= link_to "comments", link %>
  <% end %>
</ul>
<%= will_paginate @links %>